# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# adminSDKkey
tvattsynk-2669e-firebase-adminsdk-g3m8y-fcf9ca1290.json

# env
.env*.local
*.env
*.env.*