rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /allUsers/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
    }

    match /associations/{associationId}/tables/{weekId}/cells {
      allow read: if request.auth != null;
    }
  }
}