@use "../../variables.scss" as *;


$header-media-break: 55em;

.body {
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    background-color: $clr-primary-800;
    color: $clr-neutral-100;

    @media (max-width: $header-media-break) {
        padding: 1rem 2rem;
    }
}

.logo {
    font-size: 3rem;
}

.navbar {
    position: relative;

    .menuToggle {
        display: none;
        background: none;
        border: none;
        font-size: 2rem;
        color: $clr-neutral-100;
        cursor: pointer;

        &:hover {
            color: $clr-primary-400;
        }
    }

    .menuBackdrop {
        display: none;
        position: fixed;
        top: 5rem;
        border-radius: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 80%;
        backdrop-filter: blur(10px);
        background: rgba(47, 47, 47, 0.5);
        z-index: 1;
    }

    .ul {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        list-style: none;

        &.open {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2rem;
            border-radius: 1rem;
            z-index: 2;
        }

        .li {
            padding: 0.5rem 0;
            &:hover {
                color: $clr-primary-400;
            }
        }

        .menuButton {

            &:hover {
                background-color: $clr-neutral-100;
                color: $clr-primary-800
            }
        }
    }
}

@media (max-width: $header-media-break) {
    .navbar {
        .menuToggle {
            display: block;
        }

        .menuBackdrop {
            display: block;
        }

        .ul {
            display: none;

            &.open {
                display: flex;
            }
        }
    }
}
