$clr-primary-800: hsl(240, 35%, 22%);
$clr-primary-400: hsl(215, 100%, 50%);

$clr-neutral-100: hsl(0 0 100);
$clr-neutral-200: hsl(0 0 90);
$clr-neutral-900: hsl(0 0 0);

$standard-media-breakpoint: 50em;
$main-computer-padding: 4rem;
$main-mobile-padding: 2rem;

$foreground: $clr-neutral-100;
$background: $clr-primary-800;
