@use "../../variables.scss" as *;

.button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    transition: all 0.2s ease;
    background-color: transparent;
    color: $foreground;
    box-shadow: none;
    border: 2px solid $foreground;

    &:hover {
        cursor: pointer;
    }
}